/* ==========================================================================
   MASKEDCODER.GITHUB.IO
   ========================================================================== */

/*!*
 * inuitcss, by @csswizardry
 *
 * github.com/inuitcss | inuitcss.com
 */

/**
 * CONTENTS
 *
 * SETTINGS
 * Config...............Project-level configuration and feature switches.
 * Core.................inuitcss’ core and setup settings.
 * Global...............Project-wide variables and settings.
 *
 * TOOLS
 * Rem..................Tools for converting pixel inputs into their rem
 *                      equivalents.
 * Font-size............A mixin which guarantees baseline-friendly line-heights.
 * Clearfix.............Micro clearfix mixin.
 * Hidden...............Mixin for hiding elements.
 * Sass MQ..............inuitcss’ default media query manager.
 *
 * GENERIC
 * Box-sizing...........Better default `box-sizing`.
 * Normalize.css........A level playing field using @necolas’ Normalize.css.
 * Reset................A tiny reset to complement Normalize.css.
 * Shared...............Sensibly and tersely share some global commonalities
 *                      (particularly useful when managing vertical rhythm).
 *
 * ELEMENTS
 * Page.................Set up our document’s default `font-size` and
 *                      `line-height`.
 * Font.................Add custom web fonts
 * Headings.............Very minimal (i.e. only font-size information) for
 *                      headings 1 through 6.
 * Images...............Base image styles.
 * Tables...............Simple table styles.
 *
 * OBJECTS
 * Wrapper..............Page constraint object.
 * Layout...............Generic layout module.
 * Media................Image- and text-like content side by side. The
 *                      poster-child of OOCSS.
 * Flag.................Table-layout-based advancement on the Media object.
 * List-bare............Lists with no bullets or indents.
 * List-inline..........A list whose items all site in a line.
 * Box..................Simple boxing abstraction.
 * Block................Image-on-top-of-text object.
 * Ratio................A container for maintaining aspect ratio of content.
 * Crop.................Provide a cropping context for media (images, etc.).
 * Tables...............Classes for manipulating `table`s.
 * Pack.................Pack items into available horizontal space.
 *
 * COMPONENTS
 *
 * UTILITIES
 * Clearfix.............Bind our clearfix onto a utility class.
 * Widths...............Simple width helper classes.
 * Headings.............Reassigning our heading styles to helper classes.
 * Spacing..............Nudge bits of the DOM around with these spacing
 *                      classes.
 * Print................Reset-like styles taken from the HTML5 Boilerplate.
 *                      classes..
 * Hide.................Helper classes to hide content
 */

// SETTINGS

// Hind needs a larger font-size
$inuit-global-font-size:    20px;
$inuit-global-line-height:  28px;

// Since the body font is larger, raise the headings
$inuit-font-size-h1:  46px;
$inuit-font-size-h2:  38px;
$inuit-font-size-h3:  30px;
$inuit-font-size-h4:  26px;
$inuit-font-size-h5:  22px;
$inuit-font-size-h6:  20px;

// But source code should not be too large
$inuit-font-size-code:  16px;

@import "settings/settings.config";
@import "../bower/inuitcss/settings/settings.core";
@import "settings/settings.global";





// TOOLS
@import "../bower/inuitcss/tools/tools.rem";
@import "../bower/inuitcss/tools/tools.font-size";
@import "../bower/inuitcss/tools/tools.clearfix";
@import "../bower/inuitcss/tools/tools.hidden";
@import "../bower/sass-mq/mq";





// GENERIC
@import "../bower/inuitcss/generic/generic.box-sizing";
@import "../bower/inuitcss/generic/generic.normalize";
@import "../bower/inuitcss/generic/generic.reset";
@import "../bower/inuitcss/generic/generic.shared";





// ELEMENTS
@import "../bower/inuitcss/elements/elements.page";
@import "../bower/inuitcss/elements/elements.headings";
@import "../bower/inuitcss/elements/elements.images";
@import "../bower/inuitcss/elements/elements.tables";
@import "elements/elements.fonts";





// OBJECTS
//
// Uncomment and add to this section as necessary.
@import "../bower/inuitcss/objects/objects.wrapper";
@import "../bower/inuitcss/objects/objects.layout";
@import "../bower/inuitcss/objects/objects.media";
@import "../bower/inuitcss/objects/objects.flag";
@import "../bower/inuitcss/objects/objects.list-bare";
@import "../bower/inuitcss/objects/objects.list-inline";
@import "../bower/inuitcss/objects/objects.box";
@import "../bower/inuitcss/objects/objects.block";
@import "../bower/inuitcss/objects/objects.ratio";
@import "../bower/inuitcss/objects/objects.crop";
@import "../bower/inuitcss/objects/objects.tables";
@import "../bower/inuitcss/objects/objects.pack";





// COMPONENTS
//
// Build and include your project’s UI Compoments here.
//@import "components/example.components.buttons";





// UTILITIES
@import "../bower/inuitcss/utilities/utilities.clearfix";

$inuit-offsets: false;
@import "../bower/inuitcss/utilities/utilities.widths";
@import "../bower/inuitcss/utilities/utilities.headings";
@import "../bower/inuitcss/utilities/utilities.spacing";
@import "../bower/inuitcss/utilities/utilities.print";
@import "../bower/inuitcss/utilities/utilities.hide";
