/*------------------------------------*\
    #HEADER
\*------------------------------------*/

/**
 * The header is bar of content at the very top.
 *
 * Components that live in the header include:
 *   - LOGO
 *   - NAV
 */


/**
 * This parent element gives a background. The content
 * is managed in a wrapper.
 *
 * Note that the colors here change for different themes.
 */
.c-header {
  border-top: 0.5rem solid;
  padding: 1rem;

  background-image: linear-gradient(to top, rgba(0,0,0,0.05) 0%, transparent 10%);

  text-align: center;

  @include theme(red) {
    background-color: hsl(0, 100%, 98%);
    border-color: $color--primary;
  }

  @include theme(green) {
    background-color: #f2fff3;
    border-color: $color--tertiary;
  }

  @include theme(blue) {
    background-color: #f2f2ff;
    border-color: $color--secondary;
  }

  @include theme(yellow) {
    background-color: #fdfff2;
    border-color: $color--quaternary;
  }

}




/**
 * This is a wrapper for the content within
 * the header. It keeps things generally
 * toward the center of the screen, but
 * spaced apart.
 *
 * 1. Size and center it.
 * 2. Put some space at the edges.
 * 3. Keep the logo and nav links apart.
 */
  @include mq($from: decent) {
    .c-header__content {
      max-width: 1600px; /* [1] */
      margin: 0 auto; /* [1] */

      padding-left: 4rem; /* [2] */
      padding-right: 4rem; /* [2] */

      display: flex; /* [3] */
      align-items: center; /* [3] */
      justify-content: space-between; /* [3] */
    }
  }
