/*------------------------------------*\
    #BLOCK
\*------------------------------------*/

.c-embed-post {
}

  .c-embed-post + .c-embed-post:before {
    content: "";

    display: block;

    height: 0.1rem;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;

    border: 0;

    background: $color--quaternary;

  }




  .c-embed-post *:last-child {
    margin-bottom: 0;
  }
