/*------------------------------------*\
    #BIO
\*------------------------------------*/

.c-bio {
  background: #eee;
  padding: 1rem;

  border-top: 0.2rem solid $color--primary;

  margin-bottom: 1rem;
}




  .c-bio__pic {
    border-radius: 100%;
  }
