/*------------------------------------*\
    #CONTENT
\*------------------------------------*/

/**
 * This is a wrapper for everything: header, main, footer
 *
 * 1. For smaller screen sizes, this lets me not have
 *    to adjust the giant header. I just let parts of
 *    it get covered up so that it just becomes a
 *    swoosh.
 */
.c-content-wrap {
  overflow-x: hidden; /* [1] */
  position: relative;
}




/**
 * Styles the main content area
 *
 * 1. Limit the width to get a reasonable length for
 *    each line of text.
 * 2. Center it
 * 3. Get out from under the giant header
 * 4. Add space for the footer to overlap
 */
.c-content {
  max-width: 44.5rem; /* [1] */
  margin: 0 auto; /* [2] */

  padding-top: 2rem; /* [3] */
  padding-right: 1rem;
  padding-bottom: 4rem; /* [4] */
  padding-left: 1rem;
}

  /**
   * Larger screens have to give more room for the header
   */
  @include mq($from: phone) {
    .c-content {
      padding-left: 2rem; /* [3] */
      padding-right: 2rem;
    }
  }

  /**
   * Larger screens have to give more room for the header
   */
  @include mq($from: tablet) {
    .c-content {
      padding-top: 2rem;
    }
  }
