/*------------------------------------*\
    #TITLE
\*------------------------------------*/

/**
 * This is a creates a title with a subhead.
 */




.c-title {
  margin-bottom: 2rem;
}




  .c-title__heading {
    margin-bottom: 1rem;

    line-height: 1;

    font-size: 2.5rem;
  }

    @include mq($from: decent) {
      .c-title__heading--large {
        font-size: 4rem;
      }
    }




  .c-title__sub {
    font-size: 0.9rem;

    font-style: italic;
  }
