/*------------------------------------*\
    #CONTENT
\*------------------------------------*/

/**
 * This is a wrapper for everything: header, main, footer
 *
 * 1. For smaller screen sizes, this lets me not have
 *    to adjust the giant header. I just let parts of
 *    it get covered up so that it just becomes a
 *    swoosh.
 */
.c-content-wrap {
  overflow-x: hidden; /* [1] */
  position: relative;
}




/**
 * Styles the main content area
 *
 * 1. Limit the width to get a reasonable length for
 *    each line of text.
 * 2. Center it
 * 3. Add white in case there's a background image
 */
.c-content {
  max-width: 48.5rem; /* [1] */
  margin: 0 auto; /* [2] */

  padding: 2rem;

  background: #fff; /* [3] */
}

  /**
   * Larger screens have to give more room for the header
   */
  @include mq($from: phone) {
    .c-content {
      padding: 4rem; /* [3] */
    }
  }
