/*------------------------------------*\
    #NAV
\*------------------------------------*/

/**
 * These are the links in the header
 */

/**
 * 1. Set a width so that the links can be in
 *    two columns (to save space).
 */
.c-nav {
  width: 12.5rem; /* [1] */
  margin: 0 auto;

  text-align: center;
  font-size: 0.9rem;
}

  /**
   * No longer two columns, so remove width.
   */
  @include mq($from: phone) {
    .c-nav {
      width: auto;
    }
  }

  @include mq($from: tablet) {
    .c-nav {
      font-size: 1rem;
      margin: 0;
    }
  }




  /**
   * 1. This puts them in two columns. Since
   *    everything is text-align: center, they
   *    are also centered in their columns.
   * 2. Bring the rows away from each other.
   */
  .c-nav__item {
    margin: 0;
    width: 48%; /* [1] */

    margin-top: 1rem; /* [2] */
  }

    /**
     * Stop being in columns.
     */
    @include mq($from: phone) {
      .c-nav__item {
        width: auto;
        margin-top: 0;
      }

      /**
       * Add space between them, horizontally now
       */
      .c-nav__item + .c-nav__item {
        margin-left: 1rem;
      }
    }




    .c-nav__item > a {
      padding: 0.2rem;

      text-decoration: none;
      text-transform: uppercase;

      color: #333;
    }

      /**
       * Underline whichever section is current.
       *
       * The color of the underline changes based on the theme.
       */
      .c-nav__item--active > a {
        border-bottom: 0.1rem solid;

        @include theme(red) {
          border-color: $color--primary;
        }

        @include theme(yellow) {
          border-color: $color--quaternary;
        }

        @include theme(blue) {
          border-color: $color--secondary;
        }

        @include theme(green) {
          border-color: $color--tertiary;
        }

      }
