/*------------------------------------*\
    #FOOTER
\*------------------------------------*/




/**
 * Parent element gives a background (that changes based
 * on the theme). Children are in a wrapper.
 */
.c-footer {
  padding: 1rem;

  border-bottom: 0.5rem solid;

  color: #fff;

  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path fill='rgba(0,0,0,0.2)' d='M0,0 C3,0 6,3 6,6 3,6 0,3 0,0z M12,6 C12,9 9,12 6,12 6,9 9,6 12,6'></path></svg>");

  @include theme(red) {
    background-color: #292020;
    border-color: $color--primary;
  }

  @include theme(blue) {
    background-color: #202029;
    border-color: $color--secondary;
  }

  @include theme(green) {
    background-color: #202922;
    border-color: $color--tertiary;
  }

  @include theme(yellow) {
    background-color: #292820;
    border-color: $color--quaternary;
  }

}

  /**
   * When the screen is big enough, increase the space
   */
  @include mq($from: small) {
    .c-footer {
      padding: 3rem;
    }
  }




  /**
   * Makes the footer's wrapper responsive.
   */
  @include mq($until: small) {
    .c-footer__wrapper {
      padding-left: 0;
      padding-right: 0;
    }
  }




    /**
     * 1. This is the last element in the footer, so
     *    make sure there's no weird space.
     */
    .c-footer__byline {
      margin-bottom: 0;
      font-size: 0.8rem;
      text-align: center;
    }

      /**
       * 1. At this point, there is a lot of space
       *    everywhere else, so it looks best to
       *    increase the space here.
       */
      @include mq($from: small) {
        .c-footer__byline {
          margin-top: 1rem; /* [1] */
        }
      }
