/*------------------------------------*\
    #EMBED-POST
\*------------------------------------*/

.c-embed-post {
}

  .c-embed-post + .c-embed-post:before {
    content: "";

    display: block;

    height: 0.1rem;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;

    border: 0;

    @include theme(yellow) {
      background: $color--quaternary;
    }

    @include theme(green) {
      background: $color--tertiary;
    }

    @include theme(red) {
      background: $color--primary;
    }

    @include theme(blue) {
      background: $color--secondary;
    }

  }




  .c-embed-post *:last-child {
    margin-bottom: 0;
  }
