/*------------------------------------*\
    #LOGO
\*------------------------------------*/

/**
 * This is responsible for the logo.
 */

/**
 * 1. Allow the logo to be centered.
 * 2. Keep it small.
 * 3. Add some space between this and the
 *    nav links below.
 */
.c-logo {
  display: inline-block; /* [1] */
  width: 12rem; /* [2] */

  margin-bottom: 1rem;
}

  /**
   * 1. Make the logo slightly bigger.
   * 2. Remove the bottom margin since the nav links
   *    are no longer underneath.
   */
  @include mq($from: decent) {
    .c-logo {
      width: 13.56rem; /* [1] */

      margin-bottom: 0; /* [2] */
    }
  }




  .c-logo__img {
    width: 100%;
    height: 100%;
  }
