///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.
$global-radius: 3px !default;
$global-transition: (1/3) + s !default;




// Colors
$color--primary: #fe0000;
$color--secondary: #24bad3;
$color--tertiary: #abe70c;
$color--quaternary: #ffce0d;
$color--quinary: #0d2cff;





// Themes
// These add subtle differences to different parts of the site
$themes: (
  red: ".t-is",
  blue: ".t-thoughts",
  green: ".t-made",
  yellow: ".t-wrote"
);




// Breakpoints
$mq-breakpoints: (
  phone:  346px,
  small: 536px,
  tablet:  540px,

  // This is the approximate width of the main content area
  // See components.content
  content-width: 712px,
  decent: 734px,
  mid: 944px
);
