      <footer class="c-footer">
        <div class="c-footer__wrapper  o-wrapper o-wrapper--large">
          <div class="o-layout  o-layout--huge">
            <div class="o-layout__item u-1/2@mid">
              <div class="o-flag o-flag--responsive u-margin-bottom">
                <div class="o-flag__img">
                  <picture>
                    <source srcset="/images/logo.svg" type="image/svg+xml">
                    <img src="/images/logo.png" alt="" width="100" height="100">
                  </picture>
                </div>
                <div class="o-flag__body">
                  <h3>Hello.</h3>
                  <p>My mild-mannered alter ego is Andrew Myers. I am a developer, sysadmin, writer, artist, running enthusiast, and part-time superhero, based in central Oklahoma.</p>
                </div>
              </div>
            </div>
            <div class="o-layout__item u-1/2@mid u-hide@phone">
              <nav>
                <ul class="o-list-bare c-sub-nav">
                  <li class="c-sub-nav__item"><a href="/made/">Projects</a></li>
                  <li class="c-sub-nav__item"><a href="/wrote/">Writings</a></li>
                  <li class="c-sub-nav__item"><a href="/thoughts/">Blog</a></li>
                  <li class="c-sub-nav__item"><a href="/is/">About</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <p class="c-footer__byline">Copyright &copy;<span class="js-copyright">2017</span> Andrew Myers</p>
      </footer>
      <div id="scripts">
        <script src="/scripts/main.js" async defer></script>
      </div>
    </div>
  </body>
</html>
