      <footer class="c-footer">
        <p>Copyright &copy;<span class="js-copyright">2017</span> Andrew Myers</p>
      </footer>
      <div id="scripts">
        <script src="/scripts/main.js" async defer></script>
      </div>
    </div>
  </body>
</html>
