<aside class="c-bio  o-flag o-flag--responsive">
  <div class="o-flag__img">
    <img src="/images/logo.png" alt="" width="100" height="100" class="c-bio__pic">
  </div>
  <div class="o-flag__body">
    <p class="c-bio__text"><strong>The Masked Coder is Andrew Myers.</strong><br>Andrew is a developer, sysadmin, writer, artist, and part-time superhero, based in central Oklahoma. If you liked this post, consider <a href="/is/">hiring me</a>.</p>
  </div>
</aside>
